.TransactForm {
    display: flex;
    justify-content: center;
    margin-top:7%;
    margin-bottom:30%;
}

.move {
    width: 30em;
    height: 40em;
    background-color: #ffc75f;
    box-shadow: #9400D3 0 1px 15px;
}

.transactForm__title {
    margin-bottom: 5%;
}

